<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.ac.pml.eshape.dive" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dive</name>
    <description>
        A Diving Visibility App powered by data processing
    </description>
    <author email="eurogeoss@pml.ac.uk" href="https://pml.ac.uk">
	  Plymouth Marine Laboratory
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
	  <icon background="res/icon/android/background-ldpi.png" density="ldpi" foreground="res/icon/android/foreground-ldpi.png" />
	  <icon background="res/icon/android/background-mdpi.png" density="mdpi" foreground="res/icon/android/foreground-mdpi.png" />
	  <icon background="res/icon/android/background-hdpi.png" density="hdpi" foreground="res/icon/android/foreground-hdpi.png" />
	  <icon background="res/icon/android/background-xhdpi.png" density="xhdpi" foreground="res/icon/android/foreground-xhdpi.png" />
	  <icon background="res/icon/android/background-xxhdpi.png" density="xxhdpi" foreground="res/icon/android/foreground-xxhdpi.png" />
	  <icon background="res/icon/android/background-xxxhdpi.png" density="xxxhdpi" foreground="res/icon/android/foreground-xxhdpi.png" />
      <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
